MessageClient/Connected Services/MessageServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64578/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64578/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64578/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageService.SupportClass" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_VerificationAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificationAccount" />
  </wsdl:message>
  <wsdl:message name="IService_VerificationAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificationAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SearchDuplicateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDuplicateLogin" />
  </wsdl:message>
  <wsdl:message name="IService_SearchDuplicateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDuplicateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMessage" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SearchEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_SearchEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetContactList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactList" />
  </wsdl:message>
  <wsdl:message name="IService_GetContactList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactListResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="VerificationAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VerificationAccount" message="tns:IService_VerificationAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VerificationAccountResponse" message="tns:IService_VerificationAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Registration" message="tns:IService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegistrationResponse" message="tns:IService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDuplicateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchDuplicateLogin" message="tns:IService_SearchDuplicateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchDuplicateLoginResponse" message="tns:IService_SearchDuplicateLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMessage" message="tns:IService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMessageResponse" message="tns:IService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewMessage" message="tns:IService_AddNewMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewMessageResponse" message="tns:IService_AddNewMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchEmployee" message="tns:IService_SearchEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchEmployeeResponse" message="tns:IService_SearchEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetContactList" message="tns:IService_GetContactList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetContactListResponse" message="tns:IService_GetContactList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificationAccount">
      <soap:operation soapAction="http://tempuri.org/IService/VerificationAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IService/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDuplicateLogin">
      <soap:operation soapAction="http://tempuri.org/IService/SearchDuplicateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/IService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewMessage">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/SearchEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <soap:operation soapAction="http://tempuri.org/IService/GetContactList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:64578/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>